# Maven build
target/

# IDE
.idea/
*.iml

# Logs
*.log

# OS
.DS_Store
Thumbs.db

# Runtime files
uploads/

# Secret config
src/main/resources/application-dev.yml
src/main/resources/application-docker.yml

#Docker compose
/docker-compose.yml
